* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../images/clouds.jpg");
    background-color: rgba(127, 152, 190, 0.7);
    background-blend-mode: lighten;
    padding: 2em;
}


header {
    padding: 1em;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    height: 6em;
    background-image: linear-gradient(to right bottom, darkblue, aliceblue);
    opacity: 0.5;
    color: rgb(246, 246, 246)
}

header h2 {
    font-size: 2.4rem;
    font-weight: 500;
    font-stretch: extra-expanded;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
}

label {
    font-size: 1.2rem;
    font-weight: 500;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.card-text li,
data,
description,
button,
label,
#search-box,
search-history {
    color: darkslategrey;
}

.search-bar {
    display: flex;
}


#search-box {
    border: 1px solid;
    border-color: rgba(35, 35, 133, 0.531);
    border-radius: 2px;
    height: 30px;
    width: 90%;
    padding: 2px 23px 2px 10px;
    outline: 0;
    background-color: #f5f5f5;
}

current-search {
    height: 21rem;
    align-content: flex-start;
    justify-items: start;
    justify-content: flex-start;
}

search-history {
    border-top: solid 2px darkgrey;
    width: 90%;
}

#now-icon,
#card-icon {
    background-color: rgba(203, 238, 248, 0.8);
    opacity: 1;
    width: 140px;
    height: 140px;

}


today,
.card {
    background-color: rgba(224, 224, 210, 0.668);
    opacity: 0.9;
    border-radius: 5px;
}

input {
    margin-bottom: 0.8em
}

button {
    width: 6em;
    border-color: rgba(35, 35, 133, 0.531);
}

.footer {
    padding: 3em;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 1.2rem;
}

/* 
@media screen and (max-width: 768px) */