* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('/assets/images/clouds.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(205, 205, 205, 0.6);
    background-blend-mode: lighten;
    font-size: 62.5%;
    padding: 2em;
  }

header {
    padding: 2em;
    font-family: Arial, Helvetica, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    height:8em;
   }

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}



.splash {
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


.footer {
    padding: 3em;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 1.2rem;
}

@media screen and (max-width: 768px)
