* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../images/clouds.jpg");
    background-color: rgba(127, 152, 190, 0.7);
    background-blend-mode: lighten;
    padding: 2em;
}


header {
    padding: 1em;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    height: 10em;
    background-image: linear-gradient(to right bottom, darkblue, aliceblue);
    color: rgb(246, 246, 246);
    position: sticky;
    top: 0;
    z-index: 1
}

header h2 {
    font-size: 3.6rem;
    font-weight: 750;
    /* font-stretch: extra-expanded; */
    font-family: Montserrat;
    opacity: 1
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
}

label {
    font-size: 1.2rem;
    font-weight: 500;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

#hero-icon {
    height: 100px;
    width: 100px;
    margin-right: 30px
}

#city-icon h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3rem;
    margin-left: 10px
}

.card-text li,
data,
description,
button,
label,
#search-box,
search-history {
    color: darkslategrey;
}

.card-text li {
    font: Montserrat;
    font-size: 90%;
}

.search-bar {
    display: flex;
}

.sticky {
    position: fixed;
    top: 0;
    opacity: 1;
    z-index: 1;
  }

  .sticky + main {
    padding-top: 11em;
  }

#search-box {
    border: 1px solid;
    border-color: rgba(35, 35, 133, 0.531);
    border-radius: 2px;
    height: 30px;
    width: 90%;
    padding: 2px 23px 2px 10px;
    outline: 0;
    background-color: #f5f5f5;
}

current-search {
    height: 12rem;
    align-content: flex-start;
    justify-items: start;
    justify-content: flex-start;
}

search-history {
    border-top: solid 2px darkgrey;
    width: 90%;
}

#now-icon {
    background-color: rgba(203, 238, 248, 0.8);
    width: 140px;
    height: 140px;
    border-radius: 5px
}

#card-icon {
    background-color: rgba(203, 238, 248, 0.8);
    width: 100%;
    border-radius: 5px
    
}

today {
    padding: 20px 0 0 20px
}

today,
.card {
    background-color: rgba(224, 224, 210, 0.668);
    opacity: 0.9;
    border-radius: 5px;
}

.card-body {
    padding: 1rem
}

input {
    margin-bottom: 0.8em
}

button {
    width: 6em;
    border-color: rgba(35, 35, 133, 0.531);
}

.footer {
    padding: 3em;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 1 rem;
}

/* 
@media screen and (max-width: 768px) */